/.build/
/_build/
/Build
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

/SQL-Abstract-Plugin-InsertMulti-*
/sql-abstract-plugin-insertmulti-*
/.build
/_build_params
/Build.bat
!Build/
!META.json
